{% extends 'comon/base.html' %}
{% load static %}
{% block body %} 

      <!-- news section start -->
      <div class="news_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="news_taital">Why we ?</h1>
                  <p class="news_text">going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
               </div>
            </div>
            <div class="news_section_2">
               <div class="row">
                  <div class="col-md-6">
                     <div class="news_img"><img src="{% static 'images/news-img.png' %}"></div>
                  </div>
                  <div class="col-md-6">
                     <h1 class="give_taital">Our Vission World Free Education </h1>
                     <p class="ipsum_text">Row 1: Education is a fundamental right that should be accessible to all, regardless of socioeconomic backgrounds. Our mission is to provide a comprehensive, globally accessible education system, completely free of charge. By removing financial barriers, we aim to empower individuals around the world with knowledge and skills to unlock their full potential.
                     <br><br>    Our comprehensive education system covers a wide range of subjects, including mathematics, sciences, languages, humanities, and vocational skills. Through online platforms, interactive learning materials, and virtual classrooms, we strive to deliver high-quality education to learners of all ages, from primary to tertiary levels.
                     
                     </p>
                     <h5 class="raised_text">Raised: $6B    <span class="goal_text">Goal: $7B</span></h5>
                     <div class="donate_btn_main">
                        <div class="readmore_btn"><a href="#">Read More</a></div>
                        <div class="readmore_btn_1"><a href="\donate">Donate Now</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- news section end -->
      <!-- events section start -->
      <div class="events_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="news_taital">Donation help seminar</h1>
                  <p class="news_text">going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
               </div>
            </div>
            <div class="events_section_2">
               <div class="row">
                  <div class="col-md-5">
                     <div class="img_7"><img src="{% static 'images/image-7.png' %}" class="img_7"></div>
                     <div class="date_bt">
                        <div class="date_text active"><a href="#">15</a></div>
                        <div class="date_text"><a href="#">July</a></div>
                     </div>
                  </div>
                  <div class="col-md-7">
                     <h3 class="give_taital_1">Bangladesh may face famine in 2023</h3>
                     <p class="ipsum_text_1">Dhaka: Prime Minister Sheikh Hasina has expressed fears that famine and economic recession may occur more widely in the world in 2023. Along with that, thinking about the future, he urged the citizens of Bangladesh to bring every inch of land under production.</p>
                     <h5 class="raised_text_1">Raised: $159,753 <span class="goal_text">Goal: $200,000</span></h5>
                     <div class="donate_btn_main">
                        <div class="readmore_btn"><a href="#">Read More</a></div>
                        <div class="readmore_btn_1"><a href="/donate">Donate Now</a></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="events_section_2">
               <div class="row">
                  <div class="col-md-5">
                     <div class="img_7"><img src="{% static 'images/image-8.png' %}" class="img_7"></div>
                     <div class="date_bt">
                        <div class="date_text active"><a href="#">10</a></div>
                        <div class="date_text"><a href="#">FEB</a></div>
                     </div>
                  </div>
                  <div class="col-md-7">
                     <h1 class="give_taital_1">Need Help in Palestine</h1>
                     <p class="ipsum_text_1">The global Palestinian think tank, a resource for policymakers & civil society worldwide. Independent, non-partisan, and non-profit, a think tank without borders or walls. Palestinian viewpoints. Policy analysis. Types: Policy analysis, Policy insights, Civil society, Economics.</p>
                     <h5 class="raised_text_1">Raised: $741,236   <span class="goal_text">Goal: $800,000</span></h5>
                     <div class="donate_btn_main">
                        <div class="readmore_btn"><a href="#">Read More</a></div>
                        <div class="readmore_btn_1"><a href="/donate">Donate Now</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- events section end -->
{% endblock %}